.embla {
  overflow: hidden;
  --slide-spacing: 1.25rem;
  --slide-size: 100%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}

/* Responsif: buat visual lebih padat di layar besar */
@media (min-width: 1024px) {
  .embla {
    --slide-spacing: 1.5rem;
  }
}
